### Java template
out/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #

# Created by .ignore support plugin (hsz.mobi)
/MissingInActions.jar
/libprep
/MissingInActions.iws
/BEDIT_README.md
/release.sh
/MissingInActions.zip
/lib/kotlin-runtime-sources.jar
/.idea/workspace.xml
/lib/kotlin-runtime.jar
/lib/kotlin-reflect.jar
/assets/images/EditActions@2x.png
/assets/images/ToolsSettings@2x.png
/MissingInActionsAssets/
/.idea/vcs.xml
/MissingInActions.wiki
/assets/images/ToolsSettings_Custom@2x.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/DoubleCaret.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/ExpQuadCaretPasteOfTripleCaretState.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/QuadCaretPasteOfTripleCaretState.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/SingleCaretPasteOfDoubleCaretState.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/QuadCaretClipboard.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/DoubleCaretPasteOfDoubleCaretState.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/SingleCaretPaste.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/DoubleCaretPasteOfTripleCaretState.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/QuadCaretPasteOfDoubleCaretState.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/SingleCaretPasteOfTripleCaretState.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/ExpDoubleCaretPasteOfTripleCaretState.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/SingleCaretPasteOfSingleCaretState.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/QuadCaretPasteOfSingleCaretState.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/MultipleCarets.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/TripleCaretPasteOfQuadCaretState.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/QuadCaretPasteOfQuadCaretState.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/QuadCaret.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/SingleCaretClipboard.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/TripleCaretPasteOfTripleCaretState.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/DoubleCaretClipboard.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/DoubleCaretPaste.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/DoubleCaretPasteOfSingleCaretState.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/QuadCaretPaste.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/SingleCaret.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/TripleCaret.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/TripleCaretPasteOfSingleCaretState.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/ExpTripleCaretPasteOfDoubleCaretState.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/Multiple caret Copy and Paste inconsistencies.md
/MissingInActionsAssets/doc/YouTrack/copy-paste/SingleCaretStatePaste.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/SingleCaretPasteOfQuadCaretState.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/DoubleCaretPasteOfQuadCaretState.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/ExpDoubleCaretPasteOfQuadCaretState.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/TripleCaretClipboard.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/DoubleCaretPasteOfDoubleCaretData.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/ExpQuadCaretPasteOfDoubleCaretState.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/TripleCaretPasteOfDoubleCaretState.png
/MissingInActionsAssets/doc/YouTrack/copy-paste/TripleCaretPaste.png
/assets/images/PasteFromHistory_Details@2x.png
/assets/images/PasteFromHistory@2x.png
/assets/images/ToolsSettings_CaretAttributes@2x.png
/assets/images/CaretSearch_Options@2x.png
/assets/images/Toolbar@2x.png
/assets/images/Generate_NumericSequence@2x.png
/assets/images/Isolated_Lines@2x.png
/assets/images/ToolsSettings_Paste@2x.png
/assets/images/ToolsSettings_Extras@2x.png
/assets/images/ToolsSettings_WordHighlights@2x.png
/StackTraces.md
/lib/kotlin-stdlib-sources.jar
