### Java template
out/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #

# Created by .ignore support plugin (hsz.mobi)
/MissingInActions.jar
/libprep
/MissingInActions.iws
/BEDIT_README.md
/release.sh
/MissingInActions.zip
/lib/kotlin-runtime-sources.jar
/.idea/workspace.xml
/assets/images/*@2x.png
/MissingInActionsAssets/
/.idea/vcs.xml
/MissingInActions.wiki
/StackTraces.md
/lib/kotlin-stdlib-sources.jar
/dist/MissingInActions.1.8.218.1.zip
/dist/MissingInActions.1.8.218.17.zip
/dist/MissingInActions.1.8.223.19.zip
/dist/MissingInActions.1.8.223.21.zip
